{% extends 'site.html' %}

{% block title %}{% endblock %}

{% block head %}
    {% if config.theme_color %}
        <style>
            :root {
                --color-primary: {{ config.theme_color }};
            }
        </style>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        {% for column in config.columns %}
            <div class="col-4">
                <h2>{{ column.title }}</h2>
                <div class="column">
                    {% for elem in column.elements %}
                        {{ render_item(elem) | safe }}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}